body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.cover {
  display: flex;
  background-image: url(http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2013/05/15/100738170-Greece.1910x1000.jpg);
  background-size: cover;
  height: auto;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.nav_list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  text-decoration: none;
}

.nav_list li.cs52:hover{
  opacity: 1;
  background: rgba(0, 0, 0, .5);
}

.nav_list li.nav_item:hover{
  opacity: 1;
  background: rgba(0, 0, 0, .5);
}

.mobile_menu {
  display: none;
}

.cs52 {
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-right: auto;
  font-family: verdana;
}

.nav_item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-top: 3px;
  border-radius: 5px;
  font-size: 20px;
  font-family: verdana;
  color: black;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.nav_item_signin {
  border: 3px solid darkgrey;
  border-radius: 5px;
  padding: 5px;
  font-family: verdana;
  color: black;
  text-decoration: none;
}

.page_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.page_center_h1 {
  font-size: 56px;
  color: white;
  font-family: fantasy;
  text-align: center;
  width: 80%;
  text-shadow: 2px 2px 5px grey;
}

.page_center_h2 {
  font-size: 22px;
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 20px;
  width: 40%;
}

.page_center_h3 {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50%;
}

.page_center_h3_button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.page_center_h3_p {
  font-size: 20px;
  color: white;
  font-family: serif;
}

.bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 25px;
  color: white;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
  background-color: rgba(0,55,140,0.8);
}

.list {
  list-style-type: none;
}

.link_heading {
  text-transform: uppercase;
  font-size: 16px;
}

.bottom a {
  color: white;
}

.bottom a:hover {
  color: grey;
}

.footer {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  align-items: baseline;
  background-color: rgba(0,55,170,0.8);
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.icon {
  text-decoration: none;
  color: white;
  margin-right: auto;
}

.footer_item {
  margin-right: 6px;
  font-size: 18px;
  color: white;
}

.footer_item:hover {
  color: grey;
}

.icon:hover {
  color: grey;
}

.button {
  background-color: rgb(60,150,60);
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}

.button:hover {
  background-color: rgb(80,130,80);
}

.input {
  padding: 10px 30px;
  font-size: 16px;
}

.mobile_nav_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-family: 'Habibi', serif;
}

.mobile_screen li{
  list-style-type: none;
}

@media only screen and (max-width: 640px) {

  .nav_list {
    opacity:0;
    height: 0px;
  }

  .mobile_menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    text-decoration: none;
  }

  .cs52{
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: auto;
    font-family: verdana;
  }

  .nav_item_menu {
    border: 3px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    font-family: verdana;
    color: black;
    text-decoration: none;
    margin: 0;
    margin-left: 120px;
  }

  .nav_item_menu:hover {
    border: 3px solid black;
  }

  .page_center {
    padding-bottom: 6px;
  }

  .page_center_h1 {
    font-size: 40px;
    width: 90%;
    margin: 0;
  }

  .page_center_h2 {
    font-size: 18px;
    width: 90%;
    margin: 0;
  }

  .page_center_h3 {
    padding: 20px;
    width: 80%;
  }

  .page_center_h3_button {
    flex-flow: column;
  }

  .page_center_h3_p {
    font-size: 18px;
    margin: 0;
  }

  .bottom {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: thin;
    background-color: rgba(0,55,140,0.8);
  }

  .list li:not(.link_heading) {
    display: none;
  }

  #links ul{
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    padding-top:14px;
    padding-bottom: 10px;
  }

  #links ul:hover {
    color: grey;
  }

  /* For checkbox */
  input[type=checkbox] {
     opacity: 0;
  }

  label {
     cursor: pointer;
  }

  /* Adapted from https://css-tricks.com/the-checkbox-hack/ */

  /* Default State */
  .mobile_screen {
    display: flex;
    overflow: hidden;
    background: rgba(10,10,10,1);
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    line-height: 100px;
    z-index: 999;
    flex-direction: column;;
    justify-content: flex-start;
    text-align: center;
    transition: all 0.5s ease;
  }

  .cross {
    color: white;
    margin-right: 20px;
  }

  #top {
    display: flex;
    flex-flow: row;
  }

  /* Toggled State */
  input[type=checkbox]:checked ~ .mobile_screen{
    height:100%;
    opacity: 1;
    position: fixed;
  }

}
